table {
  border-collapse: collapse;
  width: 580px;
  height: 120px;
  border: 1px solid black;
}
td {
  padding: 10px;
  border: 1px solid black;
}

caption {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
}
