table {
  border-collapse: collapse;
  width: 600px;
  height: 600px;
  border: 2px solid black;
}
td {
  padding: 10px;
  border: 2px solid black;
}
.blue{
  background-color: #01ffcd;
  }
.cream{
  background-color: #ffffcb;
  }

